body {
  margin: 0;
  overscroll-behavior: none;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: red;
  left: 10px;
  top: 10px;
  font-size: 24px;
}

#center-overlay {
  /* background color can be used to dim entire screen! */
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: gray;
  opacity: 0;
  color: green;
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  min-height: 100vh;
  min-width: 100vw;
}

canvas:focus {
  outline: none
}
