body {
  margin: 0;
  overscroll-behavior: none;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(170, 0, 0);;
  left: 10px;
  top: 10px;
  font-size: 24px;
  font-family: 'DM Mono', monospace;
}

/* firefox progress bar */
progress::-moz-progress-bar
{
  width: 25%;
  background: rgb(170, 0, 0);;
}

/* chrome progress bar */
progress::-webkit-progress-value
{
  width: 25%;
  background: rgb(170, 0, 0);;
}

/* internet explorer (or edge?) progress bar */
progress
{
  width: 25%;
  background: rgb(170, 0, 0);;
}

#hp-overlay
{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(170, 0, 0);;
  right: 10px;
  top: 10px;
  font-size: 24px;
  font-family: 'DM Mono', monospace;
}

#center-overlay {
  /* background color can be used to dim entire screen */
  background-color: gray;
  opacity: 0;
  color: rgb(170, 0, 0);
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: 'DM Mono', monospace;

  min-height: 100vh;
  min-width: 100vw;
}

canvas:focus {
  outline: none
}
