body {
  margin: 0;
  overscroll-behavior: none;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: red;
  left: 10px;
  top: 10px;
}

canvas:focus {
  outline: none
}
